.myBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #FFFFFF;
    width: 10vh;
    height: 4vh;
    background-color: #2E8FF0;
    border-radius: 6px;
    cursor: pointer;
    opacity: 1;
}
